{% extends 'store/layouts/main.html' %}

{% block content %}


<div class="card text-center" style="max-width: 300px;">
    <div class="card-header h5 bg-primary text-white">Password Reset</div>
    <div class="card-body">
        <p class="card-text py-2">
            Enter your email address, and we'll send you an email with instructions to reset your password.
        </p>
        <form action="." method="post">
            {{ form.as_p }}
            <p><input type="submit" value="Send e-mail"></p>
            {% csrf_token %}
        </form>
        <a href="#" class="btn btn-primary w-100">Reset password</a>
    </div>
</div>

{% endblock content %}