{% extends 'store/layouts/main.html' %}
 

{% block content %}
 
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h2 class="mt-5">Reset Your Password</h2>

            {% if validlink %}
            <p class="mt-4">Please enter your new password twice:</p>
            <div class="card shadow">
                <div class="card-body">
                    <form action="." method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-primary">Change my password</button>
                        </div>
                    </form>
                </div>
            </div>
            {% else %}
            <p class="mt-4 text-danger">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
            {% endif %}
        </div>
    </div>
</div>

 
{% endblock content %}